<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">Maxwell's GameStore</span>
    
    <div class="nav-item">
    <NavLink href="/editgame" @*style="text-decoration: none;color: white;"*@ class="navLink">Edit a game</NavLink>
  </div>
    </div>

    </nav>

@code {
  
}