<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1" ><a class="navLink" href="/">Maxwell's GameStore</a></span>
    <div class="nav-item">
      <a href="/editgame" class="navLink">Edit game</a>
    </div>
  </div>
</nav>
