/* _content/GameStore.Frontend/Components/Layout/MainLayout.razor.rz.scp.css */
#blazor-error-ui[b-7r57v3frez] {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss[b-7r57v3frez] {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

NavLink[b-7r57v3frez]{
    color:white;
}
.navLink[b-7r57v3frez]{
    text-decoration: none;
    color: red;
}
.navLink[b-7r57v3frez] {
    color: red;
    text-decoration: none;
}
.navLink[b-7r57v3frez] {
    outline: none;
    color: red;
}
/* _content/GameStore.Frontend/Components/Layout/NavMenu.razor.rz.scp.css */


/*.navLink{*/
/*    color:white;*/
/*    text-decoration: none;*/
/*    */
/*}*/

/*.navLink:hover{*/
/*    color: #9ba29c;*/
/*    transform:scale(3);*/
/*}*/

.navLink[b-4c99slcec6] {
    color: white;
    text-decoration: none;
    transition: 500ms;
    display: inline-block; /* added this line */
}

.navLink:hover[b-4c99slcec6] {
    color: #a52cdc;
    transform: scale(1.1);
}
