@page "/editgame"
@using GameStore.Frontend.Models
@using GameStore.Frontend.Clients

<PageTitle>New/Edit Game</PageTitle>

<h3>New Game</h3>

<div class="row" >
    <div class="col-md-4" style="margin:auto;">
    <EditForm Model="@gamesList" FormName="">
        <div class="mb-3">
            <label for="name" class="form-label">Name:</label> @*notice for=name*@
            <InputText id="name" class="form-control" @bind-Value="gamesList.Name"/> @*notice id=name and @bind-Value (capital V)*@
        </div>
        <div class="mb-3">
            <label for="genreid" class="form-label">GenreID:</label>
            <InputSelect id="genreid" class="form-control" @bind-Value="gamesList.GenreID">
                @if (genresArray == null)
                {
                    <option>Loading genres...</option>
                }
                @*iterate through genreclienthere*@
                else
                {
                    @foreach (var genre in genresArray)
                    {
                        <option>@genre.Id</option>
                    }
                }
            </InputSelect>
        </div>
        <div class="mb-3">
            <label for="gameid" class="form-label">ID:</label>
            <InputNumber id="gameid" class="form-control" @bind-Value="gamesList.ID"/>
        </div>
        <div class="mb-3">
            <label for="price" class="form-label">Price:</label>
            <InputNumber id="price" class="form-control" @bind-Value="gamesList.Price"/>
        </div>
        <div class="mb-3">
            <label for="rdate" class="form-label">Release Date:</label>
            <InputDate id="rdate" class="form-control" @bind-Value="gamesList.ReleaseDate"/>
        </div>

    </EditForm></div>

</div>
@code {

    private GameDetails gamesList { get; set; } = new()
    {
        Name = string.Empty,
        ReleaseDate = DateOnly.FromDateTime(DateTime.UtcNow)
    };

    private GenresClient genresClient { get; set; } = new();

    private Genre[]? genresArray;

    protected override void OnInitialized()
    {
        genresArray = genresClient.GetGenresList();
    }

    
    
}