@page "/editgame"
@inject NavigationManager NavigationManager
@inject GamesClient GamesClient
@inject GenresClient GenreClient

<PageTitle>New/Edit Game</PageTitle>

<h3>New Game</h3>

<div class="row" >
    <div class="col-md-4" style="margin:auto;">
        <EditForm Model="@newGameDetails" FormName="myForm" OnSubmit="HandleSubmitNewGame">
            <div class="mb-3">
                <label for="name" class="form-label">Name:</label> @*notice for=name*@
                <InputText id="name" class="form-control" @bind-Value="newGameDetails.Name"/> @*notice id=name and @bind-Value (capital V)*@
            </div>
            <div class="mb-3">
                <label for="genreid" class="form-label">GenreID:</label>
                <InputSelect id="genreid" class="form-control" @bind-Value="newGameDetails.GenreID">
                    @if (genresArray == null)
                    {
                        <option>Loading genres...</option>
                    }
                    @*iterate through genreclienthere*@
                    else
                    {
                        @foreach (var genre in genresArray)
                        {
                            <option value="@genre.Id">@genre.genreName</option>
                        }
                    }
                </InputSelect>
            </div>
            <div class="mb-3">
                <label for="gameid" class="form-label">ID:</label>
                <InputNumber id="gameid" class="form-control" @bind-Value="newGameDetails.ID"/>
            </div>
            <div class="mb-3">
                <label for="price" class="form-label">Price:</label>
                <InputNumber id="price" class="form-control" @bind-Value="newGameDetails.Price"/>
            </div>
            <div class="mb-3">
                <label for="rdate" class="form-label">Release Date:</label>
                <InputDate id="rdate" class="form-control" @bind-Value="newGameDetails.ReleaseDate"/>
            </div>
            <div>
                <button class="btn-primary" type="submit">Submit New Game</button>
                <a role="button" class="btn btn-secondary" href="/">Cancel</a>
            </div>
        </EditForm>
    </div>

</div>

@code {
    
 // private GenresClient genresClient  = new();
    // private GamesClient _gamesClient = new();
    private Genre[]? genresArray;
    
    [SupplyParameterFromForm]
    private GameDetails newGameDetails { get; set; } = new()
    {
        Name = string.Empty,
        ReleaseDate = DateOnly.FromDateTime(DateTime.UtcNow)
    };

   

    

    protected override void OnInitialized()
    {
        genresArray = GenreClient.GetGenresList();
    }

    private void HandleSubmitNewGame()
    {
        GamesClient.AddGame(newGameDetails);
        NavigationManager.NavigateTo("/");
    }
    
    
}